body{
    margin: 0;
}

/* immagine e colore di background header */
header{
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
}
/* Fine immagine e colore di background header */

/* Dimensioni logo */
#logo{
    width: 400px;
    height: 200px;
    padding: 10px;
}
/* Fine dimensione logo */


article{
    margin: 8px;
}

/* Font e margini titolo */
#titolo{
    font-size: 60px;
    margin-bottom: 0;
}
/* Fine font e margini titolo */

/* colore testo sottotitolo */
span{
    color: #2cade6;
}
/* Fine colore testo sottotitolo */

/* margini foto tim */
.tim{
    margin-top: 30px;
}
/* Fine margini foto tim */

/* Rimozione margini tabella */
table{
    border-collapse: collapse;
}
/* fine rimozione margini tabella */


thead{
    background-color: #20a9e5;
}

/* lunghezza caselle tabella  */
.table-len{
    width: 400px;
}
/* fine lunghezza caselle tabella */

/* colore sfondo delle caselle dispari */
.table-even{
    background-color: #b1e5f2;
}
/* fine colore sfondo delle caselle dispari */